.initiativeCard {
    height: 110px;
    padding: 8px;
    display: flex;
    justify-content: space-between;

    &:hover {
        cursor: pointer;
    }

    .accountType {
        height: 90px;
    }

    &--text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &--textLink {
        text-decoration: none;
        color: $text-standard;
    }

    &--volunteers {
        color: $background-1;
        text-align: right;
    }

    &--volunteerList {
        margin-top: 4px;
    }

    &--volunteer {
        border-radius: 30px;
        width: 32px;
    }

    &--favorited {
        color: $background-1;

        &:hover {
            fill: $brand-02;
        }
    }

    &--function {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    &--location, &--volunteers {
        font-size: 14px;
        color: $background-1;
    }

    &--title {
        h2 { 
            font-size: 18px;
            margin: 8px 0; 
        }
        p { 
            font-size: 12px;
            margin: 8px 0; 
        }
        h2 span, p span {
            background-color: white;
            padding: 2px 4px;
        }
    }
}
