.navigation {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &--item {
    color: black;
    text-decoration: none;
    &:hover {
      color: $brand-02;
    }
  }

  &.logo-container {
    svg {
      display: block;
      width: 50px;
      height: 65px;
    }
  }

  &.politicly-brand {
    font-size: 1.17rem;
    font-weight: 100;
    letter-spacing: .6rem;
  }

  &.account-img {
    width: 50px;
    border-radius: 300px;
  }
}

li a, .navigation--avatar {
  display: flex;
  color: #3A3E41;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  &:hover {
    cursor: pointer;
  }
}