// Colors - light mode
$background: #FBFBFB;
$text-standard: #1F1F1F;
$asset: #FFFFFF;
$brand-01: #EC1718;
$brand-02: #7D1919;
$brand-03: #b31227;
$hover-01: #fce8eb;
$hover-02: #795F62;

// Colors - dark mode
$background-dark: #000000;
$text-dark: #FFFFFF;