.createInitiative {

    &--formContainer {
        padding: 8px 64px;
        min-height: 225px;
    }

    &--banner {
        position: relative;
        padding: 12px 0 12px 12px;
        margin-bottom: 24px;
        left: 0;
        background: $brand-03;
    }

    &--textInput {
        margin-bottom: 12px !important;
    }

    &--addTagsGroup {
        display: flex;
    }
    &--addImages {
        display: flex;
        align-items: center;
        &--fileName{
            margin-left: 8px;
        }
    }

    &--imageUploadField {
        display: flex;
        align-items: center;
    }

    &--requiredInfo {
        display: flex;
        flex-direction: column;
    }

    &--stepButtons {
        text-align: center;
    }

    &--tagsChips {
        margin: 8px 8px 8px 0;
    }
    &--tagChip {
        margin: 8px;
    }
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active,
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
// .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
// .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: $brand-01 !important;
}

// .css-v4u5dn-MuiInputBase-root-MuiInput-root:after,
// .css-1rb63tl-MuiInputBase-root-MuiInput-root:after,
// .css-9ddj71-MuiInputBase-root-MuiInput-root:after {
//     border-bottom: 2px solid $brand-01 !important;
// }

.createEvent{
    &--formContainer {
        padding: 8px 64px;
        min-height: 225px;
    }

    &--banner {
        position: relative;
        padding: 12px 0 12px 12px;
        margin-bottom: 24px;
        left: 0;
        background: $brand-03;
    }

    &--textInput {
        margin-bottom: 12px !important;
    }
    
    &--requiredInfo {
        display: flex;
        flex-direction: column;
    }
    &--submitButton{
        width: 20%;
    }
}