.favorites-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  // gutters for grid display
  column-gap: 1rem;
  row-gap: 1rem;
}

.explore-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  // gutters for grid display
  column-gap: 1rem;
  row-gap: 1rem;
}
