.flex-container {
  display: flex;
  position: relative;
}

.left-col {
  width: 70%;
}

.right-col {
  width: 30%;
}

.header-style {
  padding-bottom: 20px;
}

.volunteers-container {
  padding: 12px;
  align-items: center;
  padding-bottom: 30px;
  display: block;
}

.announcements-container {
  padding: 12px;
  display: block;
  align-items: center;
  padding-bottom: 30px;
}

.events-container {
  padding: 12px;
  display: flex;
  align-items: center;
  display: block;
  padding-bottom: 30px;
}
