@import './styles/utilities/_variables.scss';
@import './styles/components/Navigation.scss';
@import './styles/pages/HomePage.scss';
@import './styles/pages/ExplorePage.scss';

body {
    background-color: $background;
    font-family: 'Open Sans';
    color: $text-standard;
}
