@import './styles/utilities/_variables.scss';
@import './styles/components/Card.scss';
@import './styles/components/Navigation.scss';
@import './styles/pages/AccountPage.scss';
@import './styles/pages/HomePage.scss';
@import './styles/pages/ExplorePage.scss';
@import './styles/pages/NewsPage.scss';
@import './styles/pages/FavoritesPage.scss';
@import './styles/pages/Create.scss';
@import "./styles/pages/LandingPage.scss";
@import "./styles/pages/Initiative.scss";

body {
  background-color: $background-1;
  font-family: "Inter", sans-serif;
  color: $text-standard;
}

#root {
  height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.page-subtitle {
  padding: 4px 0px 12px 0px;
}

.page-wrapper {
  margin: 10px;
  padding: 12px;
}

